In [2]:
Employee={"Name":"Abhay","Age":30,"Salary":32000,"Company":"Synechron"}
Employee

{'Name': 'Abhay', 'Age': 30, 'Salary': 32000, 'Company': 'Synechron'}

In [3]:
type(Employee)

dict

In [6]:
Employee["Age"]

30

In [7]:
Employee["Company"]

'Synechron'

In [8]:
Employee["Region"]

KeyError: 'Region'

In [9]:
Employee[30]

KeyError: 30

In [4]:
Employee[0]

KeyError: 0

In [10]:
del Employee["Name"]

In [11]:
Employee

{'Age': 30, 'Salary': 32000, 'Company': 'Synechron'}

In [12]:
Employee["Name"]="Piyush"
Employee

{'Age': 30, 'Salary': 32000, 'Company': 'Synechron', 'Name': 'Piyush'}

In [14]:
Employee["Gender"]="Male"
Employee

{'Age': 30,
 'Salary': 32000,
 'Company': 'Synechron',
 'Name': 'Piyush',
 'Gender': 'Male'}

### Dictionary has key value pair datastructure
### Curly brackets/flower brackets/set brackets {}
### Value can be retrieved using the key but we cannot retrieve key from value

In [ ]:
Name,Age,Salary,Company->Keys(Before :)
Abhay,30,32000,Synechron-> Values(After :)