In [1]:
x=10
print(x)

10

In [2]:
type(x)

int

In [3]:
x=10
print(x)
type(x)

10

int

In [4]:
x=10
x

10

### Rules for naming a variable

In [1]:
first name="Kaushal"
first name

SyntaxError: invalid syntax (2311351150.py, line 1)

In [2]:
first_name="Kaushal"
first_name

'Kaushal'

In [7]:
Firstname="Kaushal"
Firstname

'Prema'

In [3]:
First-name="Rathore"
First-name

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2346537411.py, line 1)

In [4]:
First_name="Rathore"
First_name

'Rathore'

In [11]:
_course="ai"
_course

'ai'

In [5]:
8names="Rathore",
8names

SyntaxError: invalid decimal literal (3799702927.py, line 1)

In [6]:
n2ames="Kaushal","Rathore"
n2ames

('Kaushal', 'Rathore')

#### What is x here? X is a variable-> Container to store values

#### Variable name should not have space
#### Variable name can start with A-Z,a-z or underscore
#### The only allowed special character is underscore
#### Variable name should not start with a number